body{
    background-color: lightblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer{
    bottom: 3%;
    position: fixed;
}

.content-wrapper{
    padding: 10px 30px;
    }
p{
    text-align: justify;

}
h1{
    text-align: center;

}
.highlight{
    font-weight: 700;
    color: forestgreen;

}
h1, h2{
    font-weight: 400;

}
ul li{
    list-style-type: square;
    margin-bottom: 10px;
    margin-left: 50px;

}
.user_info{
    background-color: darkblue;
    color: lightblue; 
}
.pick_sub{
    vertical-align: top;
    margin:auto;
    width: 30%;
    padding-top: auto;
    padding-right: auto;
    padding-bottom: auto;
    padding-left: auto;
    display: inline-block;
}
.sub_options{
    width: 1500px;
    margin: auto;
    /*border: 1px solid green;*/
    padding-top: auto;
    padding-right: auto;
    padding-bottom: auto;
    padding-left: auto;
}
.pick_term{
    margin: auto;
    text-align: center;
    width: 30%;
    padding: 10px;
    vertical-align: bottom;
    display: inline-block;
}
.center{
    text-align: center;
}
.right{
    position: absolute;
    right: 160px;
}


